<!-- <pre>{{rovers$ |async |json}}</pre> -->

<app-rover-item *ngFor="let rover of rovers$ |async"
                    [rover]="rover"
                    (select)="selectedRover = $event">
</app-rover-item>

<app-rover-details [rover]="selectedRover"></app-rover-details>