<div class="details" *ngIf="rover">
  <h3>{{rover?.name}}</h3>

  <p>Date d'atterissage : {{rover.landing_date}}</p>
  <p>Date de lancement : {{rover.lauch_date}}</p>
  <p>Statut : {{rover.status |status }}</p>
  <p>Max sol : {{rover.max_sol}}</p>

  <p>
    <span *ngFor="let camera of rover.cameras ; index as index">
      <span *ngIf="index > 0">, </span>
      {{camera.name}} = {{camera.full_name}}
    </span>
  </p>

  <div class="description">Spirit, alias MER-A (Mars Exploration Rover – A), est un rover envoyé sur Mars par la NASA en 2003...</div>
</div>

