<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Photos de Mars 
  </h1>
 </div>

<!-- EXEMPLE -->
<!-- {{ count }}
<p [textContent]="count">XXX</p>
<button (click)="count = count + 1">Incrémente</button> -->


<router-outlet></router-outlet>
